auth-service/.stack-work
my-client/.stack-work
my-client/*.swp
client-service/.stack-work
authentification-service/.stack-work
old-verisions/auth-service/.stack-work/
old-verisions/client/.stack-work/
lock-service/.stack-work
file-service/.stack-work
directory-service/.stack-work
transaction-service/.stack-work
